<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#">
        <i class="fa fa-car-alt" aria-hidden="true"></i>
        <b>ນັບຈໍານວນ ແລະ ກວດຄວາມໄວຂອງລົດ</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fa fa-street-view" aria-hidden="true"></i> ເບີ່ງ Real time</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/redovideo"><i class="fa fa-street-view" aria-hidden="true"></i>
                    ເບີ່ງຄຶນຍ້ອນຫຼັງ</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> ຄົ້ນຄ້ວາໂດຍ</a>
            </li>
        </ul>
        <form class="mx-2 my-auto d-inline" method="post" action="/">
            <div class="input-group">
                <input name="url" type="text" class="form-control border border-right-0" placeholder="ໃສ່ IP/URL">
                <span class="input-group-append">
                    <button class="btn btn-danger border border-left-0" type="submit">
                        <i class="fa fa-street-view"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</nav>