{% extends "layout.html" %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mt-1 rounded">
                <!--<img id="bg" src="{{ url_for('video_redo') }}" class="img-fluid img-rounded rounded">-->
                <video class="img-fluid" controls>
                    <source src="static/video/{{ session['redo_name'] }}" type="video/mp4">
                </video>
            </div>
            <div class="col-md-4 bg-white mt-1 pl-0 pr-0 scroup">
                <ul class="list-group p-0">
                    {% for data in list_data %}
                        <a href="{{ url_for('redovideo',name=data) }}">
                            <li class="list-group-item"><span class="fa fa-link"></span>
                                {{ data.replace('_',':') }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
